<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container main-content">
  <div class="row">
    <div class="col-xs-12">
      
      <div id="card">
        
        <div class="front panel panel-default">
          <form id="search-form">
            <h1>Selfie Search</h1>
            <p>Find the profile image associated with an email address.</p>
            <div class="form-group">
              <label for="profile-email">Your email</label>
              <input type="email" id="profile-email" class="form-control" placeholder="email@example.com">
            </div>
            <div class="form-group">
              <i class="fa fa-spin fa-spinner fa-lg loading-spinner"></i>
              <button id="search-btn" class="btn btn-info">Search</button>
            </div>
          </form>
        </div>

        <div class="back panel panel-default hidden">
          <h2>Here's your selfie!</h2>
          <img id="selfie"></img>
          <!-- TODO: Make the following button override the entry in the DB -->
          <!-- <button id="wrong-img" class="btn btn-danger">This isn't me</button> -->
          <button id="flip-back" class="btn btn-info">Search again</button>
        </div>

      </div>

    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>

<a href="https://github.com/billmei/selfie-search"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

</body>
</html>
