<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div id="card" class="jumbotron">
  <div class="container front">
    <h1>Selfie Search</h1>
    <p>Find the profile image associated with an email address.</p>
    <form id="search-form">
      <div class="form-group">
        <label for="profile-email">Your email</label>
        <input type="email" id="profile-email" class="form-control" placeholder="email@example.com">
      </div>
      <div class="form-group">
        <i class="fa fa-spin fa-spinner fa-lg loading-spinner"></i>
        <button id="search-btn" class="btn btn-info">Search</button>
      </div>
    </form>
  </div>
  <div class="container back">
    <div class="row">
      <div class="col-xs-12">
        <div id="selfie"></div>
        <button id="flip-back">Try again</button>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>

</body>
</html>
